#######################################################################
# !!!!!!!! {{ ansible_managed }} !!!!!!!!! #
#######################################################################
# This is the sshd server system-wide configuration file. See
# sshd_config(5) for more information.

# This sshd was compiled with PATH=/usr/bin:/bin:/usr/sbin:/sbin

# The strategy used for options in the default sshd_config shipped with
# OpenSSH is to specify options with their default value where
# possible, but leave them commented. Uncommented options override the
# default value.

{% for key,value in sshd_config.items() %}

{% if value is boolean %}
{{ key }} {% if value %}yes{% else %}no{% endif %}
{% elif value != "none" %}
{{ key }} {{ value }}
{% else %}
#{{ key }} {{ value }}
{% endif %}
{% endfor %}
